<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>学校简介</title>
<link href="public/css/reset.css" type="text/css" rel="stylesheet" media="screen"/>
<link href="public/css/share.css" type="text/css" rel="stylesheet" media="screen"/>
<link href="public/css/table.css" type="text/css" rel="stylesheet" media="screen"/>
<link href="public/css/scoller.css" type="text/css" rel="stylesheet" media="screen"/>
<script src="public/js/tab.js" type="text/javascript"></script>
<script src="public/js/FancyZoom.js" language="JavaScript" type="text/javascript"></script>
<script src="public/js/FancyZoomHTML.js" language="JavaScript" type="text/javascript"></script>
<script type="text/javascript" src="public/js/jsScroller.js"></script>
<script type="text/javascript" src="public/js/jsScrollbar.js"></script>
<script type="text/javascript" src="public/js/introduction.js"></script>
</head>

<body  onLoad="setupZoom();">
{include file="./index_bar.html"}
	
	<div id="mainpage">
		<div id="content"><!-- 钱钱编辑的 -->
			<div>
				<div id="table_left">
					<div id="biaoti_b">
						<b>方向标</b>
					</div>
					<div id="biaoti_li">
						<ul>
							<li id="one1" onclick="setTab('one',1,5)"> <a class="liebiao" style="cursor:pointer">学校简介</a></li>
							<li id="one2" onclick="setTab('one',2,5)"> <a class="liebiao" style="cursor:pointer">机构设置</a></li>
							<li id="one3" onclick="setTab('one',3,5)"> <a class="liebiao" style="cursor:pointer">师资力量</a></li>
							<li id="one4" onclick="setTab('one',4,5)"> <a class="liebiao" style="cursor:pointer">校园风貌</a></li>
							<li id="one5" onclick="setTab('one',5,5)"> <a class="liebiao" style="cursor:pointer">学校管理</a></li>
						</ul>
					</div>
					<div class="nbsp_bg">&nbsp;</div>
				</div>
				<div id="table_right">
					<div id="one_con1">
						<div id="table_t" >
							<b id="table_b"><h1>您现在的位置&gt;学校简介</h1></b>
						</div>
						<div id="table_u">						
							<h1 id="table_b2">学校简介</h1>
							<p> 杭州孤山画室是经审批,正式注册的美术培训机构.创办于2003年,为食、宿、画及文化教学为一体的品牌画室!秉着对学生负责、让家长放心的理念!实施全封闭式管理.聘有食、宿工作人员,为学生创造舒适的学习与生活环境!</p>
							<p>杭州孤山画室专业主教老师全部由中国美术学院毕业生组成.经多年努力,积累了丰富的教学经验,总结出一套行之有效的管理模式.近三年仅中国美术学院专业第 1名达7人次、前十名达43人次、总过线达252人次;其它美术类院校合格证达800多张;浙江、湖南、江西、江苏、福建、四川、河南、安徽等省省联考过线率达100%.</p>
							<p>2010年杭州孤山画室在中国美术学院考试改革的前提下再创辉煌，刘琴同学考取中国美术学院第1名；前十名6个；单科状元达22个；其它院校的 合格证更是达到200多个；各省联考过线率100%、重本过线率达到70%！</p>
						</div>
					</div>

					<div id="one_con2" style="display:none;">
						<div id="table_t" >
							<ul>
								<li id="two1" onclick="setTab('two',1,2)"><a class="TJ_link" style="cursor:pointer">教务处</a></li>
								<li id="two2" onclick="setTab('two',2,2)"><a class="TJ_link" style="cursor:pointer">学工处</a></li>
							</ul>
							<b id="table_b"><h1>您现在的位置&gt;机构设置</h1></b>
						</div>
						<div id="two_con1">
							<div id="table_u">						
								<h1 id="table_b2">教务处</h1>
								<p> 杭州孤山画室是经审批,正式注册的美术培训机构.创办于2003年,为食、宿、画及文化教学为一体的品牌画室!秉着对学生负责、让家长放心的理念!实施全封闭式管理.聘有食、宿工作人员,为学生创造舒适的学习与生活环境!</p>
								<p>杭州孤山画室专业主教老师全部由中国美术学院毕业生组成.经多年努力,积累了丰富的教学经验,总结出一套行之有效的管理模式.近三年仅中国美术学院专业第 1名达7人次、前十名达43人次、总过线达252人次;其它美术类院校合格证达800多张;浙江、湖南、江西、江苏、福建、四川、河南、安徽等省省联考过线率达100%.</p>
								<p>2010年杭州孤山画室在中国美术学院考试改革的前提下再创辉煌，刘琴同学考取中国美术学院第1名；前十名6个；单科状元达22个；其它院校的 合格证更是达到200多个；各省联考过线率100%、重本过线率达到70%！</p>					
							</div>
						</div>
						<div id="two_con2" style="display:none;">
							<div id="table_u">						
								<h1 id="table_b2">学工处</h1>
								<p> 杭州孤山画室是经审批,正式注册的美术培训机构.创办于2003年,为食、宿、画及文化教学为一体的品牌画室!秉着对学生负责、让家长放心的理念!实施全封闭式管理.聘有食、宿工作人员,为学生创造舒适的学习与生活环境!</p>
								<p>杭州孤山画室专业主教老师全部由中国美术学院毕业生组成.经多年努力,积累了丰富的教学经验,总结出一套行之有效的管理模式.近三年仅中国美术学院专业第 1名达7人次、前十名达43人次、总过线达252人次;其它美术类院校合格证达800多张;浙江、湖南、江西、江苏、福建、四川、河南、安徽等省省联考过线率达100%.</p>
								<p>2010年杭州孤山画室在中国美术学院考试改革的前提下再创辉煌，刘琴同学考取中国美术学院第1名；前十名6个；单科状元达22个；其它院校的 合格证更是达到200多个；各省联考过线率100%、重本过线率达到70%！</p>
							</div>	
						</div>
					</div>

					<div id="one_con3" style="display:none;">
						<div id="table_t" >
							<ul>
							<li id="three1" onclick="setTab('three',1,3)"><a class="TJ_link" style="cursor:pointer">专业老师</a></li>
							<li id="three2" onclick="setTab('three',2,3)"><a class="TJ_link" style="cursor:pointer">文化老师</a></li>
							<li id="three3" onclick="setTab('three',3,3)"><a class="TJ_link" style="cursor:pointer">辅导老师</a></li>
							</ul>
							<b id="table_b"><h1>您现在的位置&gt;师资力量</h1></b>
						</div>
						<div id="three_con1">
							<div id="table_u">						
								<h1 id="table_b2">专业老师</h1>
								<p> 杭州孤山画室是经审批,正式注册的美术培训机构.创办于2003年,为食、宿、画及文化教学为一体的品牌画室!秉着对学生负责、让家长放心的理念!实施全封闭式管理.聘有食、宿工作人员,为学生创造舒适的学习与生活环境!</p>
								<p>杭州孤山画室专业主教老师全部由中国美术学院毕业生组成.经多年努力,积累了丰富的教学经验,总结出一套行之有效的管理模式.近三年仅中国美术学院专业第 1名达7人次、前十名达43人次、总过线达252人次;其它美术类院校合格证达800多张;浙江、湖南、江西、江苏、福建、四川、河南、安徽等省省联考过线率达100%.</p>
								<p>2010年杭州孤山画室在中国美术学院考试改革的前提下再创辉煌，刘琴同学考取中国美术学院第1名；前十名6个；单科状元达22个；其它院校的 合格证更是达到200多个；各省联考过线率100%、重本过线率达到70%！</p>
							</div>
						</div>
						<div id="three_con2" style="display:none;">
							<div id="table_u">						
								<h1 id="table_b2">文化老师</h1>
								<p> 杭州孤山画室是经审批,正式注册的美术培训机构.创办于2003年,为食、宿、画及文化教学为一体的品牌画室!秉着对学生负责、让家长放心的理念!实施全封闭式管理.聘有食、宿工作人员,为学生创造舒适的学习与生活环境!</p>
								<p>杭州孤山画室专业主教老师全部由中国美术学院毕业生组成.经多年努力,积累了丰富的教学经验,总结出一套行之有效的管理模式.近三年仅中国美术学院专业第 1名达7人次、前十名达43人次、总过线达252人次;其它美术类院校合格证达800多张;浙江、湖南、江西、江苏、福建、四川、河南、安徽等省省联考过线率达100%.</p>
								<p>2010年杭州孤山画室在中国美术学院考试改革的前提下再创辉煌，刘琴同学考取中国美术学院第1名；前十名6个；单科状元达22个；其它院校的 合格证更是达到200多个；各省联考过线率100%、重本过线率达到70%！</p>
							</div>
						</div>
						<div id="three_con3" style="display:none;">
							<div id="table_u">						
								<h1 id="table_b2">辅导老师</h1>
								<p> 杭州孤山画室是经审批,正式注册的美术培训机构.创办于2003年,为食、宿、画及文化教学为一体的品牌画室!秉着对学生负责、让家长放心的理念!实施全封闭式管理.聘有食、宿工作人员,为学生创造舒适的学习与生活环境!</p>
								<p>杭州孤山画室专业主教老师全部由中国美术学院毕业生组成.经多年努力,积累了丰富的教学经验,总结出一套行之有效的管理模式.近三年仅中国美术学院专业第 1名达7人次、前十名达43人次、总过线达252人次;其它美术类院校合格证达800多张;浙江、湖南、江西、江苏、福建、四川、河南、安徽等省省联考过线率达100%.</p>
								<p>2010年杭州孤山画室在中国美术学院考试改革的前提下再创辉煌，刘琴同学考取中国美术学院第1名；前十名6个；单科状元达22个；其它院校的 合格证更是达到200多个；各省联考过线率100%、重本过线率达到70%！</p>
							</div>
						</div>
					</div>

					<div id="one_con4" style="display:none;">
						<div id="table_t" >
							<ul>
								<li id="four1" onclick="setTab('four',1,2)"><a class="TJ_link" style="cursor:pointer">校园生活</a></li>
								<li id="four2" onclick="setTab('four',2,2)"><a class="TJ_link" style="cursor:pointer">学习生活</a></li>
							</ul>
							<b id="table_b"><h1>您现在的位置&gt;校园风貌</h1></b>
						</div>
						<div id="four_con1">
							<div id="table_u">						
								<h1 id="table_b2">校园生活</h1>

								<div id="photo_flash" class="photoblock-many">
									<a href="members/mwsf-5.jpg" title="Whoah: first Jollibee, then Cha-Am Express, now Jollibee again?"><img src="members/mwsf-5.jpg"  alt="" id="img-mwsf-5" class="photo" /></a>
									<a href="members/mwsf-6.jpg" title="Not recommended."><img src="members/mwsf-6.jpg"  alt="" id="img-mwsf-6" class="photo" /></a>
									<a href="members/mwsf-16.jpg" title="But I did get this sweet TV PLUG-IN GAME. Neighborhood Smash = Karateka, by the way."><img src="members/mwsf-16.jpg"  alt="" id="img-mwsf-16" class="photo" /></a>
									<a href="members/mwsf-20.jpg" title="Oh, kids today!"><img src="members/mwsf-20.jpg"  alt="" id="img-mwsf-20" class="photo" /></a>
									<a href="members/mwsf-21.jpg" title="The Metreon gets weirder, as the Microsoft Store is now Tilt's crane game ghost town."><img src="members/mwsf-21.jpg"  alt="" id="img-mwsf-21" class="photo" /></a>
									<a href="members/mwsf-25.jpg"><img src="members/mwsf-25.jpg"  alt="" id="img-mwsf-25" class="photo" /></a>
									<a href="members/mwsf-27.jpg" title="Patrick Salo gave us cookies, just because he likes our software. Hooray Macworld!"><img src="members/mwsf-27.jpg"  alt="" id="img-mwsf-27" class="photo" /></a>
									<a href="members/mwsf-28.jpg"><img src="members/mwsf-28.jpg"  alt="" id="img-mwsf-28" class="photo" /></a>
									<a href="members/mwsf-29.jpg" title="Mary Blair artwork in person = wow."><img src="members/mwsf-29.jpg"  alt="" id="img-mwsf-29" class="photo" /></a>
									<a href="members/mwsf-30.jpg" title="Secret Moscone Tunnels!"><img src="members/mwsf-30.jpg"  alt="" id="img-mwsf-30" class="photo" /></a>
									<a href="members/mwsf-31.jpg" title="Like playing Half-Life, only with less crates to smash."><img src="members/mwsf-31.jpg"  alt="" id="img-mwsf-31" class="photo" /></a>
									<a href="members/mwsf-24.jpg"><img src="members/mwsf-24.jpg"  alt="" id="img-mwsf-24" class="photo" /></a>
									<a href="members/mwsf-4.jpg"><img src="members/mwsf-4.jpg"  alt="" id="img-mwsf-4" class="photo" /></a>
									<a href="members/mwsf-9.jpg"><img src="members/mwsf-9.jpg"  alt="" id="img-mwsf-9" class="photo" /></a>
								</div>

  							</div>
						</div>
						<div id="four_con2" style="display:none;">
							<div id="table_u">						
								<h1 id="table_b2">学习生活</h1>

								<div id="photo_flash" class="photoblock-many">
									<a href="members/mwsf-6.jpg" title="Whoah: first Jollibee, then Cha-Am Express, now Jollibee again?"><img src="members/mwsf-6.jpg"  alt="" id="img-mwsf-6" class="photo" /></a>
									<a href="members/mwsf-6.jpg" title="Not recommended."><img src="members/mwsf-6.jpg"  alt="" id="img-mwsf-6" class="photo" /></a>
									<a href="members/mwsf-16.jpg" title="But I did get this sweet TV PLUG-IN GAME. Neighborhood Smash = Karateka, by the way."><img src="members/mwsf-16.jpg"  alt="" id="img-mwsf-16" class="photo" /></a>
									<a href="members/mwsf-20.jpg" title="Oh, kids today!"><img src="members/mwsf-20.jpg"  alt="" id="img-mwsf-20" class="photo" /></a>
									<a href="members/mwsf-21.jpg" title="The Metreon gets weirder, as the Microsoft Store is now Tilt's crane game ghost town."><img src="members/mwsf-21.jpg"  alt="" id="img-mwsf-21" class="photo" /></a>
									<a href="members/mwsf-25.jpg"><img src="members/mwsf-25.jpg"  alt="" id="img-mwsf-25" class="photo" /></a>
									<a href="members/mwsf-27.jpg" title="Patrick Salo gave us cookies, just because he likes our software. Hooray Macworld!"><img src="members/mwsf-27.jpg"  alt="" id="img-mwsf-27" class="photo" /></a>
									<a href="members/mwsf-28.jpg"><img src="members/mwsf-28.jpg"  alt="" id="img-mwsf-28" class="photo" /></a>
									<a href="members/mwsf-29.jpg" title="Mary Blair artwork in person = wow."><img src="members/mwsf-29.jpg"  alt="" id="img-mwsf-29" class="photo" /></a>
									<a href="members/mwsf-30.jpg" title="Secret Moscone Tunnels!"><img src="members/mwsf-30.jpg"  alt="" id="img-mwsf-30" class="photo" /></a>
									<a href="members/mwsf-31.jpg" title="Like playing Half-Life, only with less crates to smash."><img src="members/mwsf-31.jpg"  alt="" id="img-mwsf-31" class="photo" /></a>
									<a href="members/mwsf-24.jpg"><img src="members/mwsf-24.jpg"  alt="" id="img-mwsf-24" class="photo" /></a>
									<a href="members/mwsf-4.jpg"><img src="members/mwsf-4.jpg"  alt="" id="img-mwsf-4" class="photo" /></a>
									<a href="members/mwsf-9.jpg"><img src="members/mwsf-9.jpg"  alt="" id="img-mwsf-9" class="photo" /></a>
								</div>

							
							</div>
						</div>
					</div>
					<div id="one_con5" style="display:none;">
						<div id="table_t" >
							<ul>
								<li id="five1" onclick="setTab('five',1,3)"><a class="TJ_link" style="cursor:pointer">学生管理</a></li>
								<li id="five2" onclick="setTab('five',2,3)"><a class="TJ_link" style="cursor:pointer">食堂管理</a></li>
								<li id="five3" onclick="setTab('five',3,3)"><a class="TJ_link" style="cursor:pointer">寝室管理</a></li>
							</ul>
							<b id="table_b"><h1>您现在的位置&gt;学校管理</h1></b>
						</div>
						<div id="five_con1">
							<div id="table_u">						
								<h1 id="table_b2">学生管理</h1>
								<p> 杭州孤山画室是经审批,正式注册的美术培训机构.创办于2003年,为食、宿、画及文化教学为一体的品牌画室!秉着对学生负责、让家长放心的理念!实施全封闭式管理.聘有食、宿工作人员,为学生创造舒适的学习与生活环境!</p>
								<p>杭州孤山画室专业主教老师全部由中国美术学院毕业生组成.经多年努力,积累了丰富的教学经验,总结出一套行之有效的管理模式.近三年仅中国美术学院专业第 1名达7人次、前十名达43人次、总过线达252人次;其它美术类院校合格证达800多张;浙江、湖南、江西、江苏、福建、四川、河南、安徽等省省联考过线率达100%.</p>
								<p>2010年杭州孤山画室在中国美术学院考试改革的前提下再创辉煌，刘琴同学考取中国美术学院第1名；前十名6个；单科状元达22个；其它院校的 合格证更是达到200多个；各省联考过线率100%、重本过线率达到70%！</p>
							</div>
						</div>
						<div id="five_con2" style="display:none;">
							<div id="table_u">						
								<h1 id="table_b2">食堂管理</h1>
								<p> 杭州孤山画室是经审批,正式注册的美术培训机构.创办于2003年,为食、宿、画及文化教学为一体的品牌画室!秉着对学生负责、让家长放心的理念!实施全封闭式管理.聘有食、宿工作人员,为学生创造舒适的学习与生活环境!</p>
								<p>杭州孤山画室专业主教老师全部由中国美术学院毕业生组成.经多年努力,积累了丰富的教学经验,总结出一套行之有效的管理模式.近三年仅中国美术学院专业第 1名达7人次、前十名达43人次、总过线达252人次;其它美术类院校合格证达800多张;浙江、湖南、江西、江苏、福建、四川、河南、安徽等省省联考过线率达100%.</p>
								<p>2010年杭州孤山画室在中国美术学院考试改革的前提下再创辉煌，刘琴同学考取中国美术学院第1名；前十名6个；单科状元达22个；其它院校的 合格证更是达到200多个；各省联考过线率100%、重本过线率达到70%！</p>
							</div>
						</div>
						<div id="five_con3" style="display:none;">
							<div id="table_u">						
								<h1 id="table_b2">寝室管理</h1>
								<p> 杭州孤山画室是经审批,正式注册的美术培训机构.创办于2003年,为食、宿、画及文化教学为一体的品牌画室!秉着对学生负责、让家长放心的理念!实施全封闭式管理.聘有食、宿工作人员,为学生创造舒适的学习与生活环境!</p>
								<p>杭州孤山画室专业主教老师全部由中国美术学院毕业生组成.经多年努力,积累了丰富的教学经验,总结出一套行之有效的管理模式.近三年仅中国美术学院专业第 1名达7人次、前十名达43人次、总过线达252人次;其它美术类院校合格证达800多张;浙江、湖南、江西、江苏、福建、四川、河南、安徽等省省联考过线率达100%.</p>
								<p>2010年杭州孤山画室在中国美术学院考试改革的前提下再创辉煌，刘琴同学考取中国美术学院第1名；前十名6个；单科状元达22个；其它院校的 合格证更是达到200多个；各省联考过线率100%、重本过线率达到70%！</p>
							</div>
						</div>
					</div>
					<div id="table_nbsp">&nbsp;</div>
				</div>
			</div>
		</div>
	</div>
<SCRIPT LANGUAGE="text/javascript">
<!--
zoomImg.src = srcImg.src;
srcImg.height = srcImg.height/2;
var zoomRate = 5;
zoomImg.height = srcImg.height*zoomRate;
zoomImg.parentNode.style.width = srcImg.width;
zoomImg.parentNode.style.height = srcImg.height;
function zoom(){
var elm = event.srcElement;
h = elm.offsetHeight/zoomRate/2;
w = elm.offsetWidth/zoomRate/2;
var x = event.x-elm.offsetLeft;
x=x<(elm.offsetWidth-w)?x<w?w:x:elm.offsetWidth-w;
zoomImg.style.marginLeft=(w-x)*zoomRate;
var y = event.y-elm.offsetTop;
y=y<(elm.offsetHeight-h)?y<h?h:y:elm.offsetHeight-h;
zoomImg.style.marginTop=(h-y)*zoomRate;
}
//-->
</SCRIPT>
</body>

</html>
