<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>岭南新闻</title>
<link href="public/css/reset.css" type="text/css" rel="stylesheet" media="screen"/>
<link href="public/css/share.css" type="text/css" rel="stylesheet" media="screen"/>
<link href="public/css/table.css" type="text/css" rel="stylesheet" media="screen"/>
<link href="public/css/scoller.css" type="text/css" rel="stylesheet" media="screen"/>
<script src="public/js/tab.js" type="text/javascript"></script>
<script type="text/javascript" src="public/js/jsScroller.js"></script>
<script type="text/javascript" src="public/js/jsScrollbar.js"></script>
<script type="text/javascript" src="public/js/news.js"></script>
</head>

<body>

{include file="./index_bar.html"}
	
	<div id="mainpage">
		<div id="content"><!-- 钱钱编辑的 -->
			<div>
				<div id="table_left">
					<div id="biaoti_b">
						<b>方向标</b>
					</div>
					<div id="biaoti_li">
						<ul>
							<li id="one1" onclick="setTab('one',1,4)"><a class="liebiao" style="cursor:pointer">岭南新闻</a></li>
							<li id="one2" onclick="setTab('one',2,4)"><a class="liebiao" style="cursor:pointer">学校公告</a></li>
							<li id="one3" onclick="setTab('one',3,4)"><a class="liebiao" style="cursor:pointer">视频教学</a></li>
							<li id="one4" onclick="setTab('one',4,4)"><a class="liebiao" style="cursor:pointer">学生活动</a></li>
						</ul> 
					</div>
					<div class="nbsp_bg">&nbsp;</div>
				</div>
				<div id="table_right">
					<div id="one_con1">
						<div id="table_t" >
							<b id="table_b">岭南新闻<h1>您现在的位置&gt;岭南新闻</h1></b>
						</div>
						<div id="table_u">
							<p id="table_p">标题<span class="table_span">发表日期</span></p>
							<ul>
								<li><a class="table_content" style="cursor:pointer">新闻新闻新闻新闻新闻新闻新闻新闻</a><span class="table_span">2011-3-2</span></li>
								<li><a class="table_content" style="cursor:pointer">新闻新闻新闻新闻新闻新闻新闻新闻</a><span class="table_span">2011-3-2</span></li>
								<li><a class="table_content" style="cursor:pointer">闻新闻新闻新闻新闻新闻新闻</a><span class="table_span">2011-3-2</span></li>
								<li><a class="table_content" style="cursor:pointer">新闻新闻新闻新闻新闻新闻新闻新闻</a><span class="table_span">2011-3-2</span></li>
								<li><a class="table_content" style="cursor:pointer">新闻新闻新闻新闻新闻新闻新闻新闻</a><span class="table_span">2011-3-2</span></li>
								<li><a class="table_content" style="cursor:pointer">新闻新闻新闻新闻新闻新闻新闻新闻</a><span class="table_span">2011-3-2</span></li>
							</ul>
						</div>
					</div>
					<div id="one_con2" style="display:none;">
						<div id="table_t" >
							<b id="table_b">学校公告<h1>您现在的位置&gt;学校公告</h1></b>
						</div>
						<div id="table_u">
							<p id="table_p">标题<span class="table_span">发表日期</span></p>
							<ul>
								<li><a class="table_content" style="cursor:pointer">学校公告学校公告学校公告学校公告</a><span class="table_span">2011-3-2</span></li>
								<li><a class="table_content" style="cursor:pointer">学校公告学校公告学校公告学校公告</a><span class="table_span">2011-3-2</span></li>
								<li><a class="table_content" style="cursor:pointer">学校公告学校公告学校公告学校公告</a><span class="table_span">2011-3-2</span></li>
								<li><a class="table_content" style="cursor:pointer">学校公告学校公告学校公告学校公告</a><span class="table_span">2011-3-2</span></li>
								<li><a class="table_content" style="cursor:pointer">学校公告学校公告学校公告学校公告</a><span class="table_span">2011-3-2</span></li>
								<li><a class="table_content" style="cursor:pointer">学校公告学校公告学校公告学校公告</a><span class="table_span">2011-3-2</span></li>
							</ul>
						</div>
					</div>
					<div id="one_con3" style="display:none;">
						<div id="table_t" >
						<b id="table_b">视频教学<h1>您现在的位置&gt;视频教学</h1></b>
						</div>
						<div id="table_u">
							<p id="table_p">标题<span class="table_span">发表日期</span></p>
							<ul>
								<li><a class="table_content" style="cursor:pointer">视频教学视频教学视频教学视频教学</a><span class="table_span">2011-3-2</span></li>
								<li><a class="table_content" style="cursor:pointer">视频教学视频教学视频教学视频教学</a><span class="table_span">2011-3-2</span></li>
								<li><a class="table_content" style="cursor:pointer">视频教学视频教学视频教学</a><span class="table_span">2011-3-2</span></li>
								<li><a class="table_content" style="cursor:pointer">视频教学视频教学视频教学视频教学</a><span class="table_span">2011-3-2</span></li>
								<li><a class="table_content" style="cursor:pointer">视频教学视频教学视频教学视频教学</a><span class="table_span">2011-3-2</span></li>
								<li><a class="table_content" style="cursor:pointer">视频教学视频教学视频教学视视频教学视频教学频教学</a><span class="table_span">2011-3-2</span></li>
							</ul>
						</div>
					</div>
					<div id="one_con4" style="display:none;">
						<div id="table_t" >
							<b id="table_b">学生活动<h1>您现在的位置&gt;学生活动</h1></b>
						</div>
						<div id="table_u">
							<p id="table_p">标题<span class="table_span">发表日期</span></p>
							<ul>
								<li><a class="table_content" style="cursor:pointer">学生活动学生活动学生活动</a><span class="table_span">2011-3-2</span></li>
								<li><a class="table_content" style="cursor:pointer">学生活动</a><span class="table_span">2011-3-2</span></li>
								<li><a class="table_content" style="cursor:pointer">学生活动学生活动学生活动学生活动</a><span class="table_span">2011-3-2</span></li>
								<li><a class="table_content" style="cursor:pointer">学生活动学生活动学生活动</a><span class="table_span">2011-3-2</span></li>
								<li><a class="table_content" style="cursor:pointer">学生活动</a><span class="table_span">2011-3-2</span></li>
								<li><a class="table_content" style="cursor:pointer">学生活动学生活动学生活动学生活动</a><span class="table_span">2011-3-2</span></li>
							</ul>
						</div>
					</div>
					<div id="table_nbsp">&nbsp;</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>
