<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>师生作品</title>
<link href="public/css/reset.css" type="text/css" rel="stylesheet" media="screen"/>
<link href="public/css/share.css" type="text/css" rel="stylesheet" media="screen"/>
<link href="public/css/table.css" type="text/css" rel="stylesheet" media="screen"/>
<link href="public/css/scoller.css" type="text/css" rel="stylesheet" media="screen"/>
<script src="public/js/tab.js" type="text/javascript"></script>
<script type="text/javascript" src="public/js/jsScroller.js"></script>
<script type="text/javascript" src="public/js/jsScrollbar.js"></script>
<script type="text/javascript" src="public/js/TAS-art.js"></script>
</head>

<body>

{include file="./index_bar.html"}
	
    <div id="mainpage">
		<div id="content"><!-- 钱钱编辑的 -->
			<div>
				<div id="table_left">
					<div id="biaoti_b">
						<b>方向标</b>
					</div>
					<div id="biaoti_li">
						<ul>
						   <li id="one1" onclick="setTab('one',1,3)"><a class="liebiao" style="cursor:pointer">教师作品</a></li>
						   <li id="one2" onclick="setTab('one',2,3)"><a class="liebiao" style="cursor:pointer">学生作品</a></li>
						   <li id="one3" onclick="setTab('one',3,3)"><a class="liebiao" style="cursor:pointer">大师作品</a></li>
						 </ul>
					</div>
				    <div class="nbsp_bg">&nbsp;</div>
				</div>
				<div id="table_right">
					<div id="one_con1">
						<div id="table_t">
							<b id="table_b">教师作品<h1>您现在的位置&gt;教师作品</h1></b>
						</div>
						<div id="table_u">
							<p id="table_p">标题<span class="table_span">发表日期</span></p>
							<ul>
								<li><a class="table_content" style="cursor:pointer">新闻新闻新闻新闻新闻新闻新闻新闻</a><span class="table_span">2011-3-2</span></li>
								<li><a class="table_content" style="cursor:pointer">新闻新闻新闻新闻新闻新闻新闻新闻</a><span class="table_span">2011-3-2</span></li>
								<li><a class="table_content" style="cursor:pointer">新闻新闻新闻新闻新闻新闻新闻新闻</a><span class="table_span">2011-3-2</span></li>
								<li><a class="table_content" style="cursor:pointer">新闻新闻新闻新闻新闻新闻新闻新闻</a><span class="table_span">2011-3-2</span></li>
								<li><a class="table_content" style="cursor:pointer">新闻新闻新闻新闻新闻新闻新闻新闻</a><span class="table_span">2011-3-2</span></li>
								<li><a class="table_content" style="cursor:pointer">新闻新闻新闻新闻新闻新闻新闻新闻</a><span class="table_span">2011-3-2</span></li>
							</ul>
						</div>
					</div>
					<div id="one_con2" style="display:none">
						<div id="table_t">
							<b id="table_b">学生作品<h1>您现在的位置&gt;学生作品</h1></b>
						</div>
						<div id="table_u">
							<p id="table_p">标题<span class="table_span">发表日期</span></p>
							<ul>
								<li><a class="table_content" style="cursor:pointer">新闻新闻新闻新闻新闻新闻新闻新闻</a><span class="table_span">2011-3-2</span></li>
								<li><a class="table_content" style="cursor:pointer">新闻新闻新闻新闻新闻新闻新闻新闻</a><span class="table_span">2011-3-2</span></li>
								<li><a class="table_content" style="cursor:pointer">新闻新闻新闻新闻新闻新闻新闻新闻</a><span class="table_span">2011-3-2</span></li>
								<li><a class="table_content" style="cursor:pointer">新闻新闻新闻新闻新闻新闻新闻新闻</a><span class="table_span">2011-3-2</span></li>
								<li><a class="table_content" style="cursor:pointer">新闻新闻新闻新闻新闻新闻新闻新闻</a><span class="table_span">2011-3-2</span></li>
								<li><a class="table_content" style="cursor:pointer">新闻新闻新闻新闻新闻新闻新闻新闻</a><span class="table_span">2011-3-2</span></li>
							</ul>
						</div>
					</div>
					<div id="one_con3" style="display:none">
						<div id="table_t">
						<b id="table_b">大师作品<h1>您现在的位置&gt;大师作品</h1></b>
						</div>
						<div id="table_u">
							<p id="table_p">标题<span class="table_span">发表日期</span></p>
							<ul>
								<li><a class="table_content" style="cursor:pointer">新闻新闻新闻新闻新闻新闻新闻新闻</a><span class="table_span">2011-3-2</span></li>
								<li><a class="table_content" style="cursor:pointer">新闻新闻新闻新闻新闻新闻新闻新闻</a><span class="table_span">2011-3-2</span></li>
								<li><a class="table_content" style="cursor:pointer">新闻新闻新闻新闻新闻新闻新闻新闻</a><span class="table_span">2011-3-2</span></li>
								<li><a class="table_content" style="cursor:pointer">新闻新闻新闻新闻新闻新闻新闻新闻</a><span class="table_span">2011-3-2</span></li>
								<li><a class="table_content" style="cursor:pointer">新闻新闻新闻新闻新闻新闻新闻新闻</a><span class="table_span">2011-3-2</span></li>
								<li><a class="table_content" style="cursor:pointer">新闻新闻新闻新闻新闻新闻新闻新闻</a><span class="table_span">2011-3-2</span></li>
							</ul>
						</div>
					</div>
					<div id="table_nbsp">&nbsp;</div>
				</div>
            </div>
        </div>
    </div>
</body>

</html>
