<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>管理员</title>
<link rel="stylesheet" type="text/css" href="{$base}/public/css/admin/base.css"></link>
</head>
<body>
{include file="./admin/admin_header.html"}

<ul id="item">
	<li><a href="{$base}/admin/register" target="show">新增管理员</a></li>
	<li><a href="{$base}/upload/news" target="show">上传新闻</a></li>
	<li><a href="{$base}/upload/work" target="show">上传作品</a></li>
	<li><a href="{$base}/upload/album" target="show">新建相册</a></li>
	<li><a href="{$base}/upload/teacher" target="show">教师注册</a></li>
	
</ul>
<div>
 <iframe width="70%" height="600" src="" name="show" id="frame">
 	
 </iframe>
</div>
{include file="./admin/admin_footer.html"}
</body>
</html>