<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>上传作品</title>
</head>
<body>
<h1>上传作品</h1>
<form name="work" action="add" method="POST" enctype="multipart/form-data">
	<table>
		<tr>
			<td>所属相册:</td>
			<td><input type="text" name="photo_album_name"/></td>
		</tr>
		<tr>
			<td>作品名称:</td>
			<td><input type="text" name="title" /></td>
		</tr>
		<tr>
			<td>作品分类:</td>
			<td>
				<input type="radio" name="type" value="0"/>教师作品
				<input type="radio" name="type" value="1"/>学生作品
				<input type="radio" name="type" value="2"/>大师作品
			</td>
		</tr>
		<tr>
			<td>作品:</td>
			<td><input type="file" name="photo" /></td>
		</tr>
		<tr>
			<td><input type="reset" value="重置"/></td>
			<td><input type="submit" value="提交"/></td>
		<tr>
	</table>
</form>
</body>
</html>